.main-content {
    padding-top: 60px; /* Same as the height of your navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Or any other solid color you prefer */
    z-index: 1000; /* High enough to stay above all other content */
    /* ... other styling properties ... */
}

.reader-home-row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.admin-home-row {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.reader-home-row > .col-md-8 {
    flex: 0 0 74%; /* 8/12 = 66.67% */
    max-width: 74%;
}

.reader-home-row > .col-md-4 {
    flex: 0 0 25%; /* 4/12 = 33.33% */
    max-width: 25%;
}

.admin-home-row > .col-md-6 {
    flex: 0 0 50%; /* 8/12 = 66.67% */
    max-width: 30%;
    align-content: start;
}

.nav-bar-right-button {
    font-size: 16px; /* default font size */
}

@media (max-width: 700px) { /* adjust 600px as needed */
    .nav-bar-right-button {
        font-size: 15px; /* smaller font size for small screens */
    }
}

@media (max-width: 700px) { /* Adjust 600px as needed */
    .trending-button {
        display: none; /* Hides the button on small screens */
    }
}

.reader-col {
    justify-content: center;
}

