@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Tailwind Adjustments */
html {
  scroll-behavior: smooth; /* Optional: Enables smooth scrolling in supported browsers */
}

.content-center-signin{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content-center-profile-tab{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}